<!DOCTYPE html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>

<div class="container">
  <center><h2>Active & Nonactive Players</h2></center>

<table class="table table-condensed">
    <thead>
        <tr class="info">
        	<th>player_first_Name</th>
        	<th></th>
            <th>player_last_Name </th>
            <th></th>
            <th> team </th>
            <th></th>
            <th> is_active </th>
            <th></th>
           	<th> Manger_name</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if ="${players.empty}">
            <td colspan="2"> No  Available </td>
        </tr>
        <tr th:each="player : ${players}">
        	<td><span th:text="${player.user.firstName}"> </span></td>
        	<th></th>
            <td><span th:text="${player.user.lastName}"> </span></td>
            <th></th>
            <td><span th:text="${player.team.teamName}"> </span></td>
            <th></th>
            <td><span th:text="${player.isActive}"></span></td>
            <th></th>
            <td><span th:text="${player.manager.user.lastName}"></span></td>
           
        </tr>
    </tbody>
</table></div></body></body>