<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>manager</title>

        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="jumbotron">
            <center>
				<h1 class="display-6">Manager Menu</h1><br/><!-- TODO: h2? -->
<!--                <a class="btn btn-primary" role="button">Add Players</a><br/><br/>-->
				<a class="btn btn-primary" href="/api/v1/players/all" role="button"> View Players</a><br/><br/>
				<!--a class="btn btn-primary" href="/schedule-input" role="button">Add Game</a><br/><br/-->
				<a class="btn btn-primary" href="/api/v1/all" role="button">View Schedules</a><br/><br/>
				<!-- a class="btn btn-primary" href="/api/v1/managers/+{managers.id}/roster" role="button">View Team Roster</a><br/><br/> -->
				<a class="btn btn-primary" href="/api/v1/rating" role="button">View Player Game Ratings</a><br/><br/>
				<a class="btn btn-primary" href="/api/v1/rating?addRating" role="button">Create Player Game Rating</a><br/><br/>
				<a class="btn btn-primary" href="/api/v1/players/seasonRatings?addRating" role="button">Create Player Season Rating</a><br/><br/>
				<a class="btn btn-primary" href="/api/v1/players/seasonRatings" role="button">View Player Season Rating</a><br/><br/>
				<a class="btn btn-secondary" href="/login" role="button">Logout</a>
			</center>
        </div>    
    </body>
</html>