<!--<html lang="en">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!-- -->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<style>-->
<!--div{-->
<!--background-color: gray;-->
<!--}-->


<!--</style>-->

<!--<div class="container">-->
<!--  <center><h1>Adding Games To The Schedule</h1></center>-->

<!--<form action="#" th:action="@{/api/v1/save-schedule}" th:object="${schedule}" method="POST">-->
<!--      <div class="form-group">-->
<!--     <label for="awayTeam">Away team:</label>-->
<!--  	 <input type="text"  class="form-control" th:field="*{awayTeam}" id="awayTeam" placeholder="name of away team"><br>-->
<!--   	</div>-->
<!--   	 <div class="form-group">-->
<!--    <label for="season">Season:</label>-->
<!--    <input type="text" class="form-control" th:field="*{season}" id="season" placeholder="Season number"><br>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--   <label for="homeTeam">Home Team:</label>-->
<!--    <input type="text" class="form-control" th:field="*{homeTeam}" id="homeTeam" placeholder="name of home team"><br>-->
<!--    </div>-->
<!--      <div class="form-group">-->
<!--    <label for="gameDate">Game Date:</label>-->
<!--    <input type="date" class="form-control" th:field="*{gameDate}" id="gameDate" placeholder="Game date"><br>-->
<!--    </div>-->
<!-- -->
<!-- -->
<!-- <center><input type="submit" value="Save Schedule"></center> -->
<!--</form></div>-->
<!--</html>-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign Up</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/api/v1/manager-landing">Manager Menu</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="/users/create">Add User</a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="#">Add Team</a>-->
        <!--        </li>-->
    </ul>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Add a Game to the Schedule</h1>
    </div>
</div>
<div class="container col-7 justify-content-center">
    <form action="#" th:action="@{/api/v1/save-schedule}" th:object="${schedule}" method="POST">
        <div class="form-group form-col">
            <input type="hidden"  class="form-control" th:field="*{id}" id="id" >
            <div class="col">
                <label for="awayTeam">AwayTeam</label>
                <input type="text"  class="form-control" th:field="*{awayTeam}" id="awayTeam" placeholder="name of away team">
            </div>
            <div class="col">
                <label for="season">Season</label>
                <input type="text" class="form-control" th:field="*{season}" id="season" placeholder="Season number">
            </div>
            <div class="col">
                <label for="homeTeam">HomeTeam</label>
                <input type="text" class="form-control" th:field="*{homeTeam}" id="homeTeam" placeholder="name of home team">
            </div>
            <div class="form-group">
                <label for="gameDate">GameDate:</label>
                <input type="date" class="form-control" th:field="*{gameDate}" id="gameDate" placeholder="Game date"><br>
            </div>

        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>