<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
		 <!-- Bootstrap CSS -->
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>View Roster </title>
</head>
<body>

	
	<header>
		<h1 class="display-4"> View Roster</h1>
	
	</header>

	<div>
		<table class = "table table-bordered table-striped">
			<thead class= "thead-dark">
				<tr>					
					<th scope = "col"> First Name</th>
					<th scope = "col"> Last Name</th>
					<th scope = "col"> Date of Birth</th>			
				
				</tr>
			
			</thead>
			
			<tbody>
				<tr th:if ="${players.empty}">
					<td colspan = "2"> No Players Available</td>	
				
				</tr>	
				<tr th:each ="player: ${players}">	
					<td th:text = "${player.user.firstName}"></td>
					<td th:text = "${player.user.lastName}"></td>
					<td th:text = "${player.user.dob}"></td>
					
				</tr>
					
					
			</tbody>
		
		</table>
	
	
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>